saved_models
__pycache__/
*.py[cod]
*$py.class
artifact
*.so
prediction
logs
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
IMDB_reviews.csv
artifact/11232023__150820/data_transformation/transformed/train.npz
artifact/11232023__150820/data_transformation/transformed/test.npz
.idea
